@import "tailwindcss";
@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes:
    dracula --default --prefersdark,
    cupcake;
}

[data-theme="cupcake"] .rein-logo {
  filter: brightness(0);
}